.top-wrapper {
  background: #686379 url('../img/bg.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.cf:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

  
  .width-wrapper {
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* header */

  .header {
    height: 225px;
    padding-top: 52px;
  }

  .header__logo {
    display: block;
    float: left;
    margin-top: 0px;
  }

  .menu {
    float: right;
  }

  .menu__list {   
    margin-top: 18px;    
  }

  .menu__list:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
  
  .menu__item {
    float: left;
    margin-left: 40px;
  }

  .menu__link {
    padding: 4px 6px 0;
    font-family: 'League Gothic', sans-serif;
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fefefe;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: border 0.2s ease-in;
  }
  
  .menu__link:hover {
    border-bottom: 3px solid #edbfff;
  }


  /* slider */

  .slider-wrapper {
    height: 400px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }

  .slider-arrow-left,
  .slider-arrow-right {
    position: absolute;
    z-index: 100;
    top: 183px;    
    width: 22px;
    height: 34px;   
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
  }

  .slider-arrow-left:hover,
  .slider-arrow-right:hover {
    opacity: 1;
  }

  .slider-arrow-left {
    left: 5%;
    background: url('../img/arrow-left.png') no-repeat 50% 50%;
    background-size: cover;
  }

  .slider-arrow-right {
    right: 5%;
    background: url('../img/arrow-right.png');
  }

  .slider-item {
    position: relative;
    border: 1px solid rgba(255,255,255,0);
  }

  .slider-item__text {
    width: 500px;
    margin-top: 77px;
  }

  .slider-item__header {
    font-family: 'League Gothic', sans-serif;
    font-size: 60px;
    line-height: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #fefefe;
  }
  
  .slider-item__sub-header {
    font-family: 'League Gothic', sans-serif;    
    font-size: 32px;
    line-height: 100%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #edbfff;
    text-transform: uppercase;

  }

  .slider-item__content {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 18px;
    line-height: 135%;
    color: #fefefe;
    margin-top: 5px;
  }

  .slider-item__image {
    position: absolute;   
    z-index: 10;
    top: -20px;
    right: 75px;
  }

  /* slider-nav */

  .slider-nav-wrapper {
    height: 170px;    
  }

  .slider-nav {
    display: block;
    float: right;
    width: 120px;    
    margin-top: 90px;
    margin-right: 160px;
  }

  .slider-nav__item {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
    /* background: url("../img/slider-nav__item.png");*/ 
    background-color: #49464e ;
    border: 2px solid #49464e;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-nav__item--active,
  .slider-nav__item:hover {
    background-color: #e2e2e2 ;
    border: 2px solid #49464e;
  }

  /* about */

  .about {
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
    height: 340px;

    background: rgba(116,80,131,1);
    /* Old Browsers */background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    /* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    /* IE 10+ */background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
    /* IE6-9 */
    }

  .desc {
    position: relative;
    display: inline-block;
    width: 230px;
    padding-left: 50px;
    margin-top: 80px;
    margin-right: 50px;
    text-align: right;    
  }

  .desc:last-child {
    margin-right: 0px;
  }

  .desc__icon {
    position: absolute;
    z-index: 100;
    width: 0px;
    height: 0px;
    top: 10px;
    left: 5px;
    background: url('../img/icons--sprite.png') no-repeat;   
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .desc__icon--01 {
    background-position: -2px 0;
    width: 24px;
    height: 23px;
  }

  .desc__icon--02 {
    background-position: 0 -27px ;
    width: 27px;
    height: 23px;
  }

  .desc__icon--03 {
    background-position: -2px -43px ;
    width: 23px;
    height: 25px;
  }

  .desc__title {
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #fefefe;    
    text-align: left;
  }

  .desc__content {
    height: 125px;
    margin-bottom: 15px;
    overflow-y: hidden;
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 135%;
    color: #fefefe;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    text-align: left;
  }

  .desc__read-more {
    font-family: 'League Gothic', sans-serif;
    font-size: 18px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
  }
  .desc__read-more:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1);
  }


  /* CONTENT */
  
  .content {
    background-color: #f9f9f9;
    height: 386px;
    padding-top: 100px;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: inset 0 3px 6px #c7c7c7;/* rgba(0,0,0,0.4); */
  }

  /* testimonials */
  
  .testimonials {
    
    margin-left: 25px;
    width: 440px;
    float: left;
  }
  
  .mini-slider {
    list-style: none;
  }

  .mini-slider__item {
    position: relative;

    display: block;
    width: 350px;
    /*height: 235px;*/
    padding: 20px 10px 20px 40px;
    
    background: #fff;
  }

  .mini-slider__avatar {
    position: absolute;
    top: 20px;
    left: -25px;
    max-width: 49px;
    max-height: 49px;
  }

  .mini-slider__heading {
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;    
    color: #454545;    
    text-align: left;    
  }

  .mini-slider__heading--em {
    color: #edbfff;
  }

  .mini-slider__content {
    overflow: hidden;
    height: 190px;
    
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 135%;
    color: #454545;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);*/
    text-align: left;

  }


/* slider-nav--black */

  .slider-nav--black {        
    margin-top: 1px;
    margin-right: 101px;
  }

  .slider-nav__item--black {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
    /* background: url("../img/slider-nav__item.png");*/ 
    background-color: #e2e2e2;
    border: 2px solid #b9b6be;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-nav__item--black--active,
  .slider-nav__item--black:hover {
    background-color: #49464e ;
    border: 2px solid #b9b6be;
  }
 

  /* recent */
  .recent {
    float: right;
    width: 440px;
    height: 270px;
  }

  .recent__heading {
    margin-bottom: 14px;
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;    
    color: #454545;    
    text-align: left;        
  }

  .recent__list {
    
  }
  
  .recent__item {
    display: block;
    position: relative;
    padding-left: 66px;        
    height: 68px;    
  }

  .recent__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;    
    height: 49px;
    background-image: url('../img/recent__image--sprite.png');
    background-position: 0 0;
  }

  .recent__image--01 {
    background-position: 0 0;
  }

  .recent__image--02 {
    background-position: 0 -49px;
  }

  .recent__image--03 {
    background-position: 0 -98px;
  }
  
  .recent__sub-heading {
    font-family: 'Open Sans Extrabold', sans-serif;
    font-size: 16px;
    line-height: 100%;
    color: #454545;    
    text-align: left;
    text-decoration: none;
  }

  .recent__sub-heading:hover {
    text-shadow: 0px 0px 3px rgba(64, 64, 64, 0.8)
  }

  .recent__content {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 135%;
    color: #454545;
    text-align: left;       
  }

  .recent__read-more {
    text-align: right;   
  }

  .recent__read-more a{    
    font-family: 'League Gothic', sans-serif;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;    
    color: #454545;    
    text-decoration: none;
  }

  .recent__read-more a:hover {
    text-shadow: 0px 0px 3px rgba(64, 64, 64, 0.8);
  }

  /* brands */ 

  .brands {
    background-color: #f9f9f9;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d8d8d8;
    height: 73px;
    padding: 25px 0;
  }
  
  .brands__list {
    width: 960px;
    margin: 0 auto;
  }
  .brands__item {
    display: inline-block;
    margin-left: 64px;
  }

  /* recent */
  
  .news {
    background-color: #ececec;
    height: 300px;
    padding-top: 95px;
    text-align: center;

  }
  
  .news--main,
  .news--comments,
  .news--categories {    
    width: 29%;
    height: 245px; 
    display: inline-block; 
    text-align: left;
    vertical-align: top;
    overflow-y: hidden;
  }

  .news--comments {
    margin: 0 5%;
  }

  .news__heading {
    font-family: "League Gothic", Arial, sans-serif;
    font-size: 30px;
    color: #454545;
    text-transform: uppercase;
    padding: 10px 0 0 0;
  }

  .news__heading--bigger {
    font-size: 48px;
  }

  .news__heading--lighter {
    color: #b9b9b9;
  }

  .news__content {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
    line-height: 135%;
    color: #787878;
    text-align: left;

  }

  /* footer */
  
  .footer {
    height: 115px;
    background: url("../img/bg--footer.jpg") center bottom no-repeat;    
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.4);
  }

  .menu--bottom {
    float: left;
  }
