body
{
     font-family: 'League Gothic', arial;
}

.wrapper
{
    margin: 0 auto;
    width: 100%;
}

.header
{
    position: relative;
    background-image: url("../img/bg.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 847px;
}

.header_menu a,
.header_menu_item a
{
    font-size: 1.500em;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 1.405;
    text-shadow: 1px 1.732px 2px rgba(0, 0, 0, 0.157);
}

.header_menu_item
{
    position: absolute;
    top: 9%;
    left: 20%;
}

.header_menu_link
{
    margin-right: 3.7%;
}

.header_menu_item a
{
     font-size: 3.000em;
     line-height: 0.703;
     text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.118);
}

.header_menu .one a:hover:after,
.header_menu .three a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 36px;
}

.header_menu .two a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 43px;
}

.header_menu .four a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 70px;
}

.header_menu .five a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 90px;
}

.header_menu .six a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 105px;
}

.header_menu_p
{
    background: linear-gradient(to bottom, #734f82, #33263a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_menu
{
    position: absolute;
    float: left;
    display: flex;
    margin-left: 38.958333%;
    width: 75%;
    margin-top: 4%;
}

.header_img_slider img
{
    float: right;
    margin-top: 14%;
    margin-right: 33%;
}

.header_img_slider:before
{
    position: absolute;
    top: 33%;
    content: "";
    display: block;
    background-color: rgba(1, 1, 1, .2);
    height: 47%;
    width: 100%;
}

.header_img_slider:after
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/play.png") no-repeat;
    width: 76px;
    height: 76px;
    top: 49%;
    left: 59.666667%
}

.header_content
{
    float: left;
    width: 22.041667%;
    margin-top: 19%;
    margin-left: 19.916667%;
}

.header_content_first
{
    font-size: 3.75em;
    color: #ffffff;
}

.header_content_second
{
    font-size: 2em;
    color: #edbfff;
}

.header_content_third
{
    font-size: 1.45em;
    color: #9d9aa0;
}

.header_content p
{
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.118);
}

.header_img_slider:after
{
    content: "";
    display: table;
    clear: both;
}

.header_slider
{
    position: absolute;
    top: 91.5%;
    left: 57.575%
}

input[type="radio"]
{
    display: none;
}

.header_slider label
{
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    background: url("../img/check.png") no-repeat;
}

input[type="radio"]:checked + label
{
    background: url("../img/checked.png") no-repeat;
}

.main_about
{
    height: auto;
    background: linear-gradient(to bottom, #745083, #322539);
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #33253a;
}

.main_about_company
{
     margin-left: 23.5%;

}

.main_about_company li
{
    display: inline-block;
    position: relative;
    width: 17.333333%;
    height: 43.846153846%;
    margin-right: 5.791667%;
    margin-top: 5.6%;
    margin-bottom: 4.6%;
      
}

.main_about_company_top
{
    font-size: 1.875em;
    color: #ffffff;
    line-height: 0.8;
    text-shadow: 0.5px 0.866px 0px rgba(15, 21, 24, 0.392);
    margin-bottom: 2%;
}

.main_about_company_center
{
    font-family: "OpenSans";
    font-size: 1.2em;
    color: #afabb4;
    line-height: 1.5;
    text-shadow: 0.5px 0.866px 0px rgba(15, 21, 24, 0.392);
}

.main_about_company a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 1.333;
    font-size: 1.125em;
    text-shadow: 0.5px 0.866px 0px rgba(15, 21, 24, 0.392);
    text-transform: uppercase;
    margin-left: 63%;
}

.main_about_company a:hover
{
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.314);
}

.main_about_company .first:before
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/sprite.png") no-repeat;
    width: 29px;
    height: 32px;
    right: 110%;
    top: 0%;
}

.main_about_company .second:before
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/sprite.png") -31px 0 no-repeat;
    width: 28px;
    height: 32px;
    top: 1%;
    right: 110%;
}

.main_about_company .third:before
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/sprite.png") -61px 0 no-repeat;
    width: 28px;
    height: 32px;
    top: 1%;
    right: 110%;
}

.main_content
{
    background-color: #f9f9f9;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
    width: 100%;
    height: auto; 
}

.main_content_left_column
{
    float: left;
    background: url("../img/bg_cont.png") no-repeat;
    width: 23.875%;
    height: auto;
    margin-top: 5.9%;
    margin-left: 21.916667%;
}

.main_content_left_column .main_content_first
{
    position: relative;
    font-size: 1.875em;
    text-transform: uppercase;
    padding-left: 6%;
    padding-top: 4%;
}

.main_content_left_column .main_content_first:before
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/face.png") no-repeat;
    width: 50px;
    height: 51px;
    left: -8%;
    top: 12%;
}

.main_content_first_item
{
    font-size: 0.995em;
    text-transform: uppercase;
    color: #edbfff;
}

.main_content_second
{
    font-size: 1.1em;
    font-family: "OpenSans";
    line-height: 1.5;
    text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.392);
    padding: 2% 5% 5% 6%;
    color: #838383;
}

.main_content_right_column
{
    float: right;
    width: 34%;
    position: relative;
    margin-right: 19.11%;
    margin-top: 6.9%;
}

.right_column_item_top
{
    font-size: 1.875em;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    line-height: 0.8;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    margin-bottom: 3%;
}

.right_column_item_first,
.right_column_item_second
{
     font-size: 1.2em;
     font-family: "OpenSans";
     color: rgb(69, 69, 69);
     line-height: 1.5;
     text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
     font-weight: 700;
     margin-left: 11%;
}

.right_column_item_second
{
    font-weight: 400;
    margin-bottom: 1.44%;
}

.main_content_right_column a
{
    text-decoration: none;
    font-size: 1.125em;
    color: rgb(69, 69, 69);
    line-height: 1.333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    text-transform: uppercase;
    margin-left: 53%;
}
.main_content_right_column .first_sp:before
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/sprite_2.png") no-repeat;
    width: 57px;
    height: 49px;
    left: 1px;
    top: 16%;
}

.main_content_right_column .second_sp:before
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/sprite_2.png") 0 -48px no-repeat;
    width: 57px;
    height: 49px;
    left: 2px;
    top: 41%;
}


.main_content_right_column .third_sp:before
{
    content: "";
    display: table;
    position: absolute;
    background: url("../img/sprite_2.png") 0 -96px no-repeat;
    width: 57px;
    height: 49px;
    bottom: 41px;
    left: 2px;
}

.main_slider
{
    clear: both;
    margin-bottom: 2%;
    margin-left: 30.4%;
}

.main_slider input[type="radio"]
{
    display: none;
}

.main_slider label
{
    cursor: pointer;
    display: inline-block;
    width: 19px;
    height: 19px;
    position: relative;
    background: url("../img/check_m.png") no-repeat;
}

.main_slider input[type="radio"]:checked + label
{
    background: url("../img/checked_m.png") no-repeat;
}

.main_content_bottom
{
    height: auto;
    background-color: #f9f9f9;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #d8d8d8;
    clear: both;
}

.main_content_bottom img
{
    margin-top: 3%;
    margin-bottom: 1.3%;
    margin-left: 24.975%;
}

.main_bottom
{
    display: flex;
    height: auto;
    background-color: #ececec;
}

.main_bottom_left_column
{
    width: 16%;
    margin-left: 20.041667%;
    margin-right: 1.93%;
    padding-top: 5%;
    padding-bottom: 4.4%;
}

.main_bottom_left_column_first
{
    font-size: 3em;
    color: rgb(69, 69, 69);
    line-height: 0.703;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    padding-top: 3%;
    padding-bottom: 5%;
}

.main_bottom_left_column_first span
{
    color: rgb(185, 185, 185);
}

.main_bottom_left_column_second
{
    font-size: 1em;
    font-family: "Georgia";
    color: rgb(197, 197, 197);
    font-style: italic;
    line-height: 1.5;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    padding-bottom: 2%;
}

.main_bottom_left_column_third,
.main_bottom_middle_column_second,
.main_bottom_right_column_second
{
    font-size: 1.1em;
    font-family: "OpenSans";
    color: rgb(120, 120, 120);
    line-height: 1.5;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.main_bottom_middle_column,
.main_bottom_right_column
{
    width: 17%;
    margin-right: 0.8%;
    margin-top: 4.5%;
}

.main_bottom_middle_column_first,
.main_bottom_right_column_first
{
    font-size: 1.875em;
    color: rgb(69, 69, 69);
    line-height: 0.8;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    padding-top: 5%;
    margin-bottom: 4%;
}

.footer
{
    background: url("../img/footer.jpg") no-repeat;
    background-size: cover;
    height: auto;
}

.footer_menu
{
    display: flex;
    margin-left: 20.083333%;
}

.footer_menu li
{
    margin-right: 2%;
    padding-bottom: 2.4%;
    padding-top: 3%;
}

.footer_menu li:nth-child(6)
{
   margin-right: 13.3%;
} 

.footer a
{
    font-size: 1em;
    font-family: "LeagueGothic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.686;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.footer_menu_item
{
    font-size: 0.75em;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 2.81;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.footer_menu_item a
{
    font-size: 1em;
    text-transform: uppercase;
}

.footer_menu .one a:hover:after,
.footer_menu .three a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 48px;
}

.footer_menu .two a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 60px;
}

.footer_menu .four a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 85px;
}

.footer_menu .five a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 110px;
}

.footer_menu .six a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 135px;
}

@media screen and (max-width: 960px) {

.wrapper
{
     width: 108%;
}

.header
{
    height: 700px;
}

.header_menu 
{
    position: absolute;
    float: left;
    display: flex;
    margin-left: 38.958333%;
    width: 75%;
    margin-top: 7%;
}

.header_menu a
{
    font-size: 1.200em;
}

.header_menu_item
{
    top: 10.5%;
}

.header_menu_item a
{
     font-size: 2.000em;
}

.header_content_first
{
    font-size: 2.8em;
}

.header_content_second
{
    font-size: 1.5em;
}

.header_content_third 
{
    font-size: 1.15em;
}

.header_content 
{
    width: 34.041667%;
    margin-top: 24%;
    margin-left: 10%;
}

.header_img_slider img 
{
    margin-top: 14%;
    margin-right: 17%;
}

.header_img_slider:before 
{
    top: 23%;
    height: 52%;
}

.header_img_slider:after 
{
    width: 76px;
    height: 76px;
    top: 41%;
    left: 69.666667%;
}

.header_slider 
{
   top: 81%;
   left: 67%;
}

.main_about_company 
{
    margin-left: 12.5%;
}

.main_about_company li 
{
    width: 26.333333%;
    margin-right: 3.791667%;
}

.main_about_company_top 
{
    font-size: 1.575em;
}

.main_about_company_center 
{
    font-size: 1em;
}

.main_content_left_column .main_content_first,
.right_column_item_top
{
    font-size: 1.575em;
}

.main_content_left_column 
{
    width: 41.875%;
    margin-left: 6.916667%;
    margin-bottom: 2%;
}

.main_content_right_column 
{
    width: 41%;
    margin-right: 5.11%;
}

.right_column_item_first,
.right_column_item_second 
{
    font-size: 1em;
    margin-bottom: 2%;
}

.main_content_right_column .first_sp:before 
{
    left: -14px;
    top: 11%;
}

.main_content_right_column .second_sp:before 
{
    left: -16px;
    top: 39%;
}

.main_content_right_column .third_sp:before 
{
    bottom: 36px;
    left: -13px;
}

.main_content_right_column a 
{
    margin-left: 71%;
}

.main_slider 
{
    margin-bottom: 2%;
    margin-left: 23.4%;
}

.main_content_bottom img 
{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
}

.main_bottom_left_column_first 
{
    font-size: 2em;
}

.main_bottom_middle_column_first,
 .main_bottom_right_column_first 
 {
    font-size: 1.575em;
}

.main_bottom_left_column_third,
.main_bottom_middle_column_second,
.main_bottom_right_column_second
{
    font-size: 0.8em;
}

.main_bottom_left_column_second 
{
    font-size: 0.8em;
}

.main_bottom_left_column 
{
    width: 22%;
    margin-left: 11.041667%;
    margin-right: 4.93%;
}

.main_bottom_middle_column,
 .main_bottom_right_column 
 {
    width: 22%;
    margin-right: 5.8%;
}

.footer_menu 
{
    margin-left: 15.083333%;
}

.footer a 
{
    font-size: 0.8em;
}

.footer_menu li 
{
     margin-right: 2%;
}

.footer_menu_item 
{
    font-size: 0.8em;
    margin-top: -1%;
}

}

@media screen and (max-width: 768px) {

.header_menu
{
    margin-left: 19.958333%;
    margin-top: 11%;
}

.header_menu_item
{
    top: 8.5%;
}

.header_img_slider img 
{
    margin-top: 18%;
    margin-right: 18%;
}

.header_img_slider:after 
{
    left: 65.666667%;
}

.header_content 
{
    width: 28.041667%;
    margin-top: 35%;
}

.header_content_first 
{
    font-size: 2em;
}

.header_content_second 
{
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
}

.header_content_third {
    font-size: 1.15em;
}

.header_content_third .hidden_text,
.main_about_company .hidden_text,
.main_content_second .hidden_text,
.main_bottom_left_column .hidden_text,
.main_bottom_middle_column .hidden_text,
.main_bottom_right_column .hidden_text
{
    display: none;
}

.main_about_company 
{
    margin-left: 9.5%;
}

.main_about_company li 
{
    width: 22.333333%;
    margin-right: 7.791667%;
}

.main_about_company_top 
{
    font-size: 1.275em;
}

.main_about_company_center 
{
    font-size: 0.8em;
}

.main_about_company .first:before,
.main_about_company .second:before,
.main_about_company .third:before
{
    background: url(../img/sprite.png) no-repeat;
    right: 106%;
    top: -8%;
}

.main_content_left_column .main_content_first
{
   white-space: wrap;
}

.main_content_item
{
    margin-right: 55%;
}

.main_content_left_column .main_content_first:before 
{
    left: -13%;
    top: 19%;
}

.main_content_left_column 
{
    width: 35.875%;
    margin-left: 6.916667%;
    margin-bottom: 2%;
}

.main_content_right_column 
{
    width: 34%;
    margin-right: 17.11%;
}

.right_column_item_first
{
    font-size: 1.1em;
}

.right_column_item_second 
{
    white-space: nowrap;
    overflow: hidden;
}

.main_content_right_column .first_sp:before 
{
    left: -25px;
    top: 11%;
}

.main_content_right_column .second_sp:before 
{
    left: -25px;
    top: 39%;
}

.main_content_right_column .third_sp:before 
{
    bottom: 14px;
    left: -25px;
}

.main_content_right_column a 
{
    margin-left: 67%;
    display: none;
}

.main_slider 
{
    margin-bottom: 2%;
    margin-left: 23.4%;
}

.main_slider:after
{
    content: "more blog posts";
    display: table;
    position: absolute;
    font-size: 1.3em;
    text-transform: uppercase;
    width: 15%;
    left: 76%;
    top: 202%;
}

.main_content_bottom img 
{
    margin-left: 9%;
    width: 70%;
}

.main_bottom_left_column_first,
.main_bottom_left_column_second,
.main_bottom_middle_column_first
{
    display: none;
}

.main_bottom_left_column_third,
.main_bottom_middle_column
{
    position: relative;
}

.main_bottom_left_column_third:before,
.main_bottom_middle_column_second:before
{
    content: "news categories";
    display: table;
    position: absolute;
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: 'League Gothic';
    color: #454545;
    width: 100%;
    left: 1%;
    top: -16%;;
}

.main_bottom_middle_column_second
{
    padding-top: 5%;
}

.main_bottom_left_column_third
{
    padding-top: 7%;
}

 .main_bottom_right_column_first 
{
    font-size: 1.4em;
}

.main_bottom_right_column 
{
    margin-top: 2%;
}

.main_bottom_middle_column
{
    margin-right: 4%;
    margin-top: 5.7%;
}

.footer_menu 
{
    width: 90%;
    margin-left: 6.083333%;
}

.footer_menu li:nth-child(6) 
{
    margin-right: 5.3%;
}

.footer_menu li 
{
     margin-right: 2%;
}

.footer_menu_item
{
    margin-top: 2%;
}

}

@media screen and (max-width: 480px) {

.header 
{
    height: 492px;
}

.header_menu
{
    flex-direction: column;
    margin-left: 26%;
    margin-top: 18%;
    text-align: center;
    border: 1px solid #3b2d43;
    border-radius: 5px;
    width: 251px;
    z-index: 1;
}

.header_menu_link
{
    background: rgba(59, 47, 67, 0.8);
    border-bottom: 1px solid #3a2d42;
    margin-right: 0;
}

.header_menu_link:hover
{
    background: rgba(59, 47, 67, 0.9);
    border-bottom: 2px solid #edbfff;
}

.header_menu .one a:hover:after
{
   left: 43%;
   top: 12%;
}

.header_menu .three a:hover:after
{
   left: 43%;
   top: 47%;
}

.header_menu .two a:hover:after
{
   left: 41.5%;
   top: 30%;
}

.header_menu .four a:hover:after
{
   left: 37%;
   top: 62%;
}

.header_menu .five a:hover:after
{
   left: 32%;
   top: 79%;
}

.header_menu .six a:hover:after
{
   left: 30%;
   top: 96%;
}

.header_menu_item
{
    left: 39%;
}

.header_img_slider img
{
    width: 34%;
    margin-top: 22%;
    margin-right: 10%;;
}

.header_img_slider:before 
{
    top: 27%;
    height: 44%;
}

.header_img_slider:after 
{
    top: 42%;
    left: 67.666667%;
    background: url("../img/play.png") no-repeat;
    width: 76px;
    height: 76px;
}

.header_content_third
{
    display: none;
}

.header_content 
{
    width: 33.041667%;
    margin-top: 39%;
}

.header_slider 
{
    top: 76%;
    left: 43%;
}

.main_about_company 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_about_company li 
{
    width: 62.333333%;
}

.main_about_company_center
{
    font-size: 1.1em;
}

.main_about_company a 
{
    margin-left: 77%;
}

.main_content 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.main_content_second .hidden_text
{
    display: block;
}

.main_content_left_column 
{
    width: 80.875%;
    margin-left: -0.083333%;
    margin-bottom: 2%;
}

.main_content_item 
{
    margin-right: 0;
}

.main_content_left_column .main_content_first:before 
{
    left: -8%;
    top: 23%;
}

.main_slider 
{
   position: absolute;
   top: 24%;
   left: 19%;
}

.main_content_right_column 
{
    width: 51%;
    margin-right: 0;
    margin-bottom: 8%;
}

.main_slider:after 
{
    display: none;
}

.right_column_item_second:after 
{
    content: "more blog posts";
    display: table;
    position: absolute;
    font-size: 1em;
    text-transform: uppercase;
    width: 14%;
    left: 60%;
    top: 99%;
}

.main_content_bottom img
{
    display: none;
}

.main_content_bottom:after
{
    content: "";
    display: table;
    position: relative;
    background: url("../img/logos_sm.png");
    width: 345px;
    height: 154px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.main_bottom_right_column_second .hidden_text,
.main_bottom_middle_column .hidden_text,
.main_bottom_left_column .hidden_text
{
    display: block;
}

.main_bottom_right_column_second .hidden_text_tablet,
.main_bottom_middle_column .hidden_text_tablet,
.main_bottom_left_column .hidden_text_tablet
{
    display: none;
}

.main_bottom 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_bottom_left_column 
{
    width: 62%;
    margin-left: 0;
    margin-right: 0%;
}

.main_bottom_middle_column, 
.main_bottom_right_column 
{
    width: 62%;
    margin-right: 0%;
}

.main_bottom_right_column
{
    margin-bottom: 5%;
}

.footer
{
    height: 80px;
}

.footer_menu 
{
    width: 119%;
    margin-left: 6.083333%;
    position: relative;
}

.footer_menu li:nth-child(6) 
{
    margin-right: 0;
}

.footer_menu_item
{
    position: absolute;
    left: 23%;
    top: 10%;
}

.footer_menu .one a:hover:after,
.footer_menu .three a:hover:after
{
   width: 37px;
}

.footer_menu .two a:hover:after
{
   width: 43px;
}

.footer_menu .four a:hover:after
{
   width: 65px;
}

.footer_menu .five a:hover:after
{
   width: 87px;
}

.footer_menu .six a:hover:after
{
   width: 105px;
}

@media screen and (max-width: 320px) {

.header {
    height: 297px;
}

.header_menu
{
    border: none;
}

.header_menu 
{
    margin-left: 13%;
    margin-top: 22%;
}

.header_menu_item 
{
    left: 34%;
}

.header_menu_link
{
   background: none;
   border: none;
}

.header_menu .two,
.header_menu .three,
.header_menu .four,
.header_menu .five,
.header_menu .six
{
    display: none;
}

.header_menu .one
{
   background: none;
   border: none;
}

.header_menu .one a:hover:after
{
   content: "";
   display: table;
   position: absolute;
   border-bottom: 2px solid #edbfff;
   height: 1px;
   width: 36px;
   top: 22px;
}

.header_img_slider:before,
.header_img_slider:after, 
.header_img_slider img
{
    display: none;
}

.header_content 
{
    width: 74.041667%;
    text-align: center;
}

.header_slider 
{
    left: 36%;
}

.main_about_company .hidden_text_mobile,
.main_content_second .hidden_text_mobile,
.main_content_right_column .hidden_text_mobile,
.main_bottom,
.footer_menu_link
{
    display: none;
}

.main_about_company a 
{
    margin-left: 71%;
}

.main_content_item 
{
    margin-right: 141px;
}

.main_content_left_column 
{
    width: 58.875%;
    margin-left: -0.083333%;
    margin-bottom: 10%;
}

.main_content_left_column .main_content_first:before 
{
    left: -20%;
    top: 16%;
}

.main_slider 
{
    top: 33%;
    left: 15%;
}

.main_content_right_column .first_sp:before
{
    background: url("../img/sprite_mb.png") no-repeat;
    left: -34px;
    top: 14%;
}

.main_content_right_column .second_sp:before
{
    background: url("../img/sprite_mb.png") 0 -48px no-repeat;
    left: -33px;
    top: 41%;
}

.main_content_right_column .third_sp:before
{
    background: url("../img/sprite_mb.png") 0 -96px no-repeat;
    bottom: 10px;
    left: -32px;
}

.main_content_right_column 
{
    width: 65%;
    margin-right: 0;
    margin-bottom: 8%;
}

.right_column_item_second:after 
{
    left: 46%;
    top: 99%;
    font-size: 0.8em;
}

.main_content_bottom:after 
{
    content: "";
    display: table;
    position: relative;
    background: url(../img/logos_mb.png);
    width: 237px;
    height: 294px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer_menu li 
{
    padding-bottom: 6%;
    padding-top: 0;
}

}